backend/app/.DS_Store
backend/app/__pycache__/app.cpython-39.pyc
backend/app/models/__pycache__/user.cpython-39.pyc
backend/app/resources/__pycache__/user.cpython-39.pyc
backend/app/config_secret.py
backend/database.db